<!DOCTYPE html>
<%= render '/refinery/html_tag' %>
  <% site_bar = render('/refinery/site_bar', :head => true) -%>
  <%= render '/refinery/head' %>
  <body>
    <%= site_bar -%>
    <%= render '/refinery/ie6check' if request.env['HTTP_USER_AGENT'] =~ /MSIE/ -%>
    <div id="page_container" class="container">
      <header id="header">
        <%= render '/refinery/header' -%>
      </header>
      <section id="page">
        <div class="row">
          <div class="span9 main">
            <div class="span-content">
              <%= yield %>
            </div>
          </div>
          <div class="span3 sidebar">
            <div class="span-content">
              <% sidebar = Refinery::Page.find("sidebar") %>
              <%= raw sidebar.content_for(:body) %>
            </div>
          </div>
        </div>
      </section>
      <footer>
        <%= render '/refinery/footer' -%>
      </footer>
    </div>
    <link href='http://fonts.googleapis.com/css?family=Exo:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <%= render '/refinery/javascripts' %>
  </body>
</html>
